<%- include('./components/header') %>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" action="/feed">
                    <button type="submit" class="btn btn-primary">Add a Post</button>
                    <div class="mb-3">
                    <input type="text" name="title" class="form-control" placeholder="Name">
                    <% if(error && error.title) { %>
                        <h6 style="color: red;"><%= error.title.message %></h6>
                        <% } %>  
                    </div>
                    <div class="mb-3">
                    <textarea rows="10" cols="30" type="text" name="post" class="form-control" placeholder="Message" ></textarea>
                    <% if(error && error.post) { %>
                        <h6 style="color: red;"><%= error.post.message %></h6>
                        <% } %> 
                    </div>
                </form>
            </div>
            <div class="col">
                <h1>Welcome To Facebook</h1>
            </div>
        </div>
    </div>
    <div class="container">
            <% if(result.length > 0 ) { %>
                <% result.forEach(element => { %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h2 class="card-title"><%= element.title %></h2> 
                            <div class="row">
                                <div class="col">
                                    <p class="card-text"><%= element.post %></p>
                                </div>
                                <div class="col">
                                    <a href=/feed/<%= element._id %>>See More</a>
                                    <p><%= element.createdAt.toLocaleDateString("en-US") %></p>
                                </div>
                            </div>             
                        </div>
                    </div>
                <% }) %>
            <% } else{ %>
                    <h2>There is no post</h2>
            <% } %>
    </div>

 <%- include('./components/footer') %>   
